<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>David Beeler</title>
    <link rel="shortcut icon" href="/img/favicon.ico" />

    <link rel="stylesheet" href="css/portfolio.css" media="screen" title="no title" charset="utf-8">
    <!-- <link href='https://fonts.googleapis.com/css?family=Arvo|Wellfleet|Oswald|Goudy+Bookletter+1911' rel='stylesheet' type='text/css'> -->
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/parallax.js" charset="utf-8"></script>

    <!-- ERB Placement Start -->
    <%= yield %>
    <!-- ERB Placement End -->

    <footer id="copyright-db">
      &copy; 2015
      David Beeler
    </footer>

  </body>
</html>
