<!-- Header Section - Start -->
    <header id="header">
      <div id="logo">
        <a href="#">Home</a>
        <nav id="nav">
          <ul>
            <li><a href="#slide1" class="active" title="Next Section">Who I Am</a></li>
            <li><a href="#slide2" title="Next Section">Portfolio</a></li>
            <li><a href="#slide3" title="Next Section">Technology</a></li>
            <li><a href="#slide4" title="Next Section">Links</a></li>
          </ul>
        </nav>
      </div>
    </header>
<!-- Header Section - End -->


<div id="slide1">
  <div class="content">

    <h2>David</h2>
    <h1>Beeler</h1>
    <div id="divider"></div>
    <h3>Engineer, Programmer, Solver</h3>
    <div></div>
    <div></div>
  </div>
</div>

<div id="slide2">
  <div class="content">
    <div class="">
      <h3 class="">Portfolio</h3>
      <h5>Show an (auto, easing) carousel of images / links?</h5>
      <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
    </div>
  </div>
</div>

<div id="slide3">
  <div class="content">
    <div class="">
      <h3>Technology used / learned?</h3>
      <h5>Show images of tech?</h5>
    </div>
  </div>
</div>

<div id="slide4">
  <div class="content">
    <div class="">
      <h3 class="">Linky links</h3>
      <h5>nice display of links</h5>
      <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
    </div>
  </div>
</div>
